{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="createAccountHeader">
        <h1>Create Account</h1>
    </div>
    <div class="form-container">
        <h2 class="text-center">Register as a Healthcare Provider</h2>

        <form action="{% url 'doctor_signup' %}" id="registerForm" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="title" class="form-label title-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" >
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required>
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="phone" name="phone" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="col-md-6">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="gender" class="form-label">Gender</label>
                    <input type="text" class="form-control" id="gender" name="gender" required>
                </div>
                <div class="col-md-6">
                    <label for="medicalLicenseNumber" class="form-label">Medical license number</label>
                    <input type="text" class="form-control" id="medicalLicenseNumber" name="medicalLicenseNumber" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="experience" class="form-label">Experience</label>
                    <input type="number" class="form-control" id="experience" name="experience" max=50 required>
                </div>
                <div class="col-md-6">
                    <label for="age" class="form-label">Age</label>
                    <input type="number" class="form-control" id="age" name="age" max=120 required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="energencyContactInfo" class="form-label">Emergency Contact Information</label>
                    <input type="tel" class="form-control" id="energencyContactInfo" name="energencyContactInfo" required>
                </div>
                <div class="col-md-6">
                    <label for="professionalCertification" class="form-label">Professional certification</label>
                    <input type="file" class="form-control" id="professionalCertification" name="professionalCertification">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <p class="text-center mt-3">
            Already have an account? <a href="login.html">Login</a>
        </p>
        <p>
            <input type="checkbox" name="checkbox" id="checkbox">
            By joining, you agree to our Terms & Condition and Privary Policy
        </p>
    </div>
</body>
</html>
