{% extends "base.html" %}

{% block content %}

<form method="post" action="/register/">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="first_name" placeholder="First name">
    <input type="text" name="last_name" placeholder="Last name:">
    <input type="email" name="email" placeholder="Email:">
    <input type="password" name="password" placeholder= "Password:">
    <!--<input type="number" name="phone_number" placeholder="Phone number:"> -->

    <button type="submit">Submit</button>
</form>

{% endblock content %} 