name: Django CI/CD workflow

on:
  pull_request:
    branches: 
      - master
  push:
    branches:
      - master

jobs:
  health-check-job:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github-actions
        ports:
          - 5432:5432 

  build-and-test:
    name: Build and test app
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Docker Image
        uses: docker/setup-buildx-action@v2
